<!-- metas -->
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />


<div class="footer">
  <div class="footer_resize">
    <p class="leftt"><strong>Boreo Sistemas de Inform&aacute;tica - (51) 3091-6086</strong><br />
    Av. Unisinos, 615 Sala 3002 | <a href="mailto:falecom@boreo.com.br">falecom@boreo.com.br</a><br />
    Integrante do TECNOSINOS - Parque Tecnológico de São Leopoldo - RS</p>
    <a href="http://www.boreo.com.br"><img src="view/images/boreo.jpg" border="0" alt="P&aacute;gina inicial da Boreo" longdesc="http://www.boreo.com.br" /></a>
    <a href="https://www.saoleopoldo.rs.gov.br" target="_blank"><img src="view/images/saoleopoldo.jpg" border="0" alt="Saba mais sobre a cidade de S&atilde;o Leopoldo" longdesc="http://www.tecnosinos.com.br" /></a>
    <a href="http://www.unisinos.br" target="_blank"><img src="view/images/unisinos.jpg" border="0" alt="Visite a p&aacute;gina da UNISINOS" longdesc="http://www.tecnosinos.com.br" /></a>
    <a href="http://www.tecnosinos.com.br/index.php/empresas/269-boreo?layout=company" target="_blank"><img src="view/images/tecnosinos.jpg" border="0" alt="Conhe&ccedil;a o TECNOSINOS" longdesc="http://www.tecnosinos.com.br" /></a>

    
    <p class="rightt">&nbsp;</p>
    <div class="clr"></div>
  </div>
  <div class="clr"></div>
</div>