@charset "utf-8";
body { margin:0; padding:0; width:100%;}
html { padding:0; margin:0;}

/* main */
.main {width:100%; padding:0; margin:0 auto; }

/********** header **********/
/* .header { height:57px; background: #999999; } */
.header {
    height:57px;
    background-image: url(images/top_bg.jpg);
    background-repeat: repeat-x;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:25px;
}

.block_header {margin:0 auto; width:950px; padding:0; border:none; }
/* logo */
.logo { float:left; padding:0; margin:0; width:155px;}
/* menu */	
.menu { padding:0; margin:0; width:420px; float:right;}
.menu ul { padding:20px 0; margin:0; list-style:none; border:0;}
.menu ul li { float:left; margin:0; padding:0; border:0;}
.menu ul li a { float:left; margin:0; padding:0px 17px; color:#000; font:bold 18px  Arial, Helvetica, sans-serif; text-decoration:none; border-right:0px dashed #949494;}
.menu ul li a:hover { color:#da7a00;}
.menu ul li a.active {color:#da7a00;} 
/********** slider home **********/
.slider {background: url(images/bg_slider.gif) top center repeat-x; margin:0 auto; padding:0; height:300px;}
.slider div.slice1 { margin:0 auto; width:900px; padding:0;}
.slider div div div { margin:0; padding:0; width:900px;  border:0;}
.slider div div div p.img {float:right; width:450px; padding:15px 0 0 0; margin:0;}
.slider div div div h2 {width:410px; float: left; font: 36px Arial, Helvetica, sans-serif; color:#000;  margin:0; padding:15px 0 0 10px; line-height:1.2em; letter-spacing:-1px;}
.slider div div div p { width:378px; float: left; font:normal 12px   Arial, Helvetica, sans-serif; color:#262626; margin:0; padding:20px 0 0 10px; line-height:1.8em;}
/********** slider paginas **********/
/* .body_resize { width:950px; margin:0 auto; padding:0;} */
/* .right { width:604px; float:left; margin:20px 5px 10px 5px; padding:5px;} */


.slider_titulo {
    border:0;
    height:70px;	
    background: url(images/bg_slider.jpg) top center repeat-x;
    width:950px; margin:0 auto; padding:0;
}
.slider_titulo div {
    width: 300;
    background-color:#009900;
    float:left;
}


.slider_titulo h2 {
    font: 36px Arial, Helvetica, sans-serif;
    color:#000;
    margin: 0px;
    padding-top: 13px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 15px;	
    letter-spacing:-2px;
}

.sliderp {background: url(images/bg_slider.jpg) top center repeat-x; margin:0 auto; padding:0; height:70px;}
.sliderp div.slice1 { margin:0 auto; width:900px; padding:0;}
.sliderp div div div { margin:0; padding:0; width:900px;  border:0;}
.sliderp div div div p.img {float:right; width:450px; padding:5px 0 0 0; margin:0;}
.sliderp div div div h2 {width:410px; float: left; font: 36px Arial, Helvetica, sans-serif; color:#000;  margin:0; padding:15px 0 0 0px; line-height:1.2em; letter-spacing:-1px;}
.sliderp div div div p { width:378px; float: left; font:normal 11px   Arial, Helvetica, sans-serif; color:#262626; margin:0; padding:20px 0 0 0px; line-height:1.8em;}
/********* slider2 ************/
.slider2 {background: #fff url(images/slider_bg2.gif) top repeat-x; margin:0 auto; padding:0; height:89px;}
.slider2_resize {width:950px; margin:0 auto; padding:0;}
.slider2_resize h2 {width:445px; float: left; font:bold 36px Arial, Helvetica, sans-serif; color:#fff;   margin:0; padding:20px 0 0 0px; line-height:1.2em; text-transform:uppercase;}
.slider2_resize p { width:350px; float: right; font:normal 11px   Arial, Helvetica, sans-serif; color:#212121; margin:0; padding:20px 0 0 10px; line-height:1.8em;}

/*bloga_resize*/
.bloga_resize {background: url(images/bg_body_top.jpg) top repeat-x; height:200px;}
.bloga_resize2 {background: url(images/bg_body_top2.gif) top repeat-x; height:46px;}
.bloga_resizee { width:950px; margin:0 auto;  padding:0;}
.bloga_resizi {background: url(images/bg_body_top.jpg) bottom repeat-x; height:00px;}
.bloga { width:289px; float:left; margin:0; padding:00px 0px 0px 20px;}
.bloga h2 { font: 18px Arial, Helvetica, sans-serif; color:#000; border-bottom:1px solid #3d3d3d; padding:10px 5px; margin:0; letter-spacing:-1px;}
.bloga p {
    color:#666666;
    font:normal 12px Arial, Helvetica, sans-serif;
    line-height:1.8em;
    padding:5px 5px;
    margin:0;
}
.bloga img { float:left; margin:10px 10px; padding:0;}
.bloga a { color:#ac5400; text-decoration:none;}
.menu_sub { padding:0; margin:0; width:380px; float:left;}
.menu_sub ul { padding:9px 0; margin:0; list-style:none; border:0;}
.menu_sub ul li { float:left; margin:0; padding:0; border:0;}
.menu_sub ul li a { float:left; margin:0; padding:11px 17px; color:#fff; font:normal 12px  Arial, Helvetica, sans-serif; text-decoration:none;}
.menu_sub ul li a:hover { background:#ebebeb; color:#282828;}
.menu_sub ul li a.active {background:#ebebeb; color:#282828;} 
/********** block index **********/
.body { border-top:1px solid #fff; background:#ebebeb; }
.body h2 { font:bold 18px Arial, Helvetica, sans-serif; color:#0b0b0b; border-bottom:1px solid #dcdcdc; padding:10px 5px; margin:0;}
.body h3 { font:bold 20px Arial, Helvetica, sans-serif; color:#252525;  padding:10px 5px; margin:0;}
.body h4 { font:bold 12px Arial, Helvetica, sans-serif; color:#252525;  padding:10px 5px; margin:0;}
.body p { font:normal 12px Arial, Helvetica, sans-serif; color:#6d6d6d; line-height:1.8em; padding:5px 5px; margin:0;}
.body p.grey { font: normal 11px Arial, Helvetica, sans-serif; color:#b0b0b0; line-height:1.8em; padding:5px 5px; margin:0;}
.body p span {
    color:#ac5400;
    font-weight: bold;
}
.body a { font:bold 12px Arial, Helvetica, sans-serif; color:#5f5f5f; text-decoration:none;}
.body em { color:#383838;}
.body img { float: left; margin:10px 5px; padding:0;}
.body img.nomargin { float:none; text-align:center; margin:10px 1px; padding:0;}
.body img.work { float:left; margin:10px 30px 10px 10px; padding:0;}
pre{  font:14px Arial, Helvetica, sans-serif;
    color:#000000;
    line-height:1.8em;
    padding:5px 5px;
    margin:0;
}

.body_resize { width:950px; margin:0 auto; padding:0; font-family:Arial, sans-serif;
    color:#000000;
    font-size: 16px;}
.body_resize2 { width:99%; margin-bottom:10px; margin-left:20px; margin-right: 5px; margin-top:10px; padding:5px 20px;

    font-family:Arial, sans-serif;
    color:#000000;
    font-size: 16px;}

.right { width:604px; float:left; margin:20px 5px 10px 5px; padding:5px;}
.right h5 {
    font-family:Arial, Helvetica, sans-serif;
    color:#996699;
    font-size: 16px;
}
.right ul { list-style:none; margin:5px 20px; padding:0;}
.right li { font: bold 12px Arial, Helvetica, sans-serif; color:#6f6f6f; padding:5px 20px; margin:0; background:url(images/about_ul_li.gif) left no-repeat;}

.jorge { width:1000px; float:right; margin:20px 5px 10px 5px; padding:5px;}
.jorge h5 {
    font-family:Arial, Helvetica, sans-serif;
    color:#996699;
    font-size: 18px;
}
.jorge ul { list-style:none; margin:5px 20px; padding:0;}
.jorge li { font: bold 18px Arial, Helvetica, sans-serif; color:#6f6f6f; padding:5px 20px; margin:0; background:url(images/about_ul_li.gif) left no-repeat;}


.jorge2 { width:99%; float:left; margin:5px 5px 5px 5px; padding:5px;}
.jorge2 h5 {
    font-family:Arial, Helvetica, sans-serif;
    color:#996699;
    font-size: 18px;
}
.jorge2 ul { list-style:none; margin:5px 20px; padding:0;}
.jorge2 li { font: bold 18px Arial, Helvetica, sans-serif; color:#6f6f6f; padding:5px 20px; margin:0; background:url(images/about_ul_li.gif) left no-repeat;}

.left { width:300px; float:left; margin:20px 5px 10px 5px; padding:5px;}
.left li { font-size:12px; padding-bottom:5px;}
.buttoms { width:200px; margin:10px auto; text-align:center; padding:0;}
.buttoms a { font: bold 12px Arial, Helvetica, sans-serif; color:#9f9f9f; text-decoration:none; padding:3px 5px; margin:0 3px;}
.buttoms a:hover { color:#000; background:#f1f1f1; border:1px solid #d6d6d6;}
/********** block index **********/
.subbody {background:#f2f2f2; }
.body2 {background: url(images/bg_body_top.jpg) top repeat-x;  border-top:1px solid #fff; }
.body2 h2 { font:normal 22px Arial, Helvetica, sans-serif; color:#0b0b0b; border-bottom:1px solid #dcdcdc; padding:10px 5px; margin:0; letter-spacing:-1px;}
.body2 h3 { font:bold 20px Arial, Helvetica, sans-serif; color:#252525;  padding:10px 5px; margin:0;}
.body2 h4 { font:bold 12px Arial, Helvetica, sans-serif; color:#252525;  padding:10px 5px; margin:0;}
.body2 p {
    font:14px Arial, Helvetica, sans-serif;
    color:#000000;
    line-height:1.8em;
    padding:5px 5px;
    margin:0;
}
.body2 p {
    font:14px Arial, Helvetica, sans-serif;
    color:#000000;
    line-height:1.8em;
    padding:5px 5px;
    margin:0;
}
.body2 f {
    font:bold 14px Arial, Helvetica, sans-serif;
    color:#CC6600  ;
    line-height:1.8em;
    margin:0;
}
.body2 ff {
    font:bold 16px Arial, Helvetica, sans-serif;
    color:#CC6600  ;
    line-height:1.8em;
    margin:0;
}
.body2 p.grey { font: normal 11px Arial, Helvetica, sans-serif; color:#b0b0b0; line-height:1.8em; padding:5px 5px; margin:0;}
.body2 p span {
    color:#000000;

}
.body2 a {
    font:bold 12px Arial, Helvetica, sans-serif;
    color:#ac5400;
    text-decoration:none;
}
.body2 em { color:#383838;}
.body2 img { float: left; margin:10px 5px; padding:0;}
.body2 img.nomargin { float:none; text-align:center; margin:10px 1px; padding:0;}
.body2 img.work { float:left; margin:10px 30px 10px 10px; padding:0;}
/********** contact form **********/

#contactform { margin:0; padding:5px 10px;}
#contactform * { color:#F00;}
#contactform ol { margin:0; padding:0; list-style:none;}
#contactform li { margin:0; padding:0; background:none; border:none; display:block;}
#contactform li.buttons { margin:5px 0 5px 0;}
#contactform label { margin:0; width:110px; display:block; padding:10px 0; color:#6d6d6d; font: bold 12px Arial, Helvetica, sans-serif; float:left;}
#contactform label span { color:#F00;}
#contactform input.text { width:380px; border:1px solid #d4d4d4; margin:10px 0; padding:5px 2px; height:16px; background:#fff; float:left;}
#contactform textarea { height:300px; width:380px; border:1px solid #d4d4d4; margin:10px 0; padding:2px; background:#fff; float:left;}
#contactform li.buttons input { padding:10px 0 5px 110px; margin:0; border:0; color:#FFF; float:left;}
p.response { text-align:center; color:#666666; font: normal 11px  Georgia, "Times New Roman", Times, serif; line-height:1.8em; width:auto;}
/*************footer**********/
.footer {
    padding:10px 0;
    margin:0;
    border-top:1px solid #fff;
    background-color: #FFFFFF;
}
.footer_resize {width:950px; margin:0 auto; padding:0; }
.footer p { font:normal 12px  Arial, Helvetica, sans-serif; color:#5f5f5f;}
.footer a { font:bold 12px Arial, Helvetica, sans-serif; color:#5f5f5f; text-decoration:underline; padding:5px 5px; margin:0;}
.footer img {margin:2px 5px; padding:0;}
.footer p.leftt { text-align:left; width:55%; margin:0; padding:5px 5px; float:left;} 
.footer p.rightt { text-align:right; width:20%; margin:0; padding:20px 0; float:right;} 

/*twitter*/
.twitter { background:url(images/twitter_bg.gif); width:283px; margin:0 auto; padding:0;}
.twitter_footer { background:url(images/twitter_bot.gif) no-repeat bottom;}
.twitter_top { background:url(images/twitter_top.gif) no-repeat top; padding:10px 20px 55px 20px;}
.twitter a { color:#128fb4; font:normal 12px Tahoma, Geneva, sans-serif;}

#twitter-home { border:2px solid #14ADFF; width:600px; background:#fff url('../img/bg-twitter.jpg') repeat-x top; margin:0px 0 0 0px; float:left; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }

#twitter h1 { margin: 0 0 0.3em 0; font-size: 2em; }
#twitter h2 { font:bold 18px Arial, Helvetica, sans-serif; color:#0b0b0b; border-bottom:1px solid #dcdcdc; padding:10px 5px 10px 10px; margin:0; width: 567px;} 

/* titulo */
#twitter { width:600px; float:left; margin-left:00px; margin-top:0px; }
#twitter  p, ul, input, button {
    font-family: 'Arial';
}
#twitter  p {
    margin: 0 0 1.3em 0;
    font-size: 0.7em;
    line-height: 1.5em;
}

#twitter  ul {
    list-style-type: none;
}

#twitter  li {
    font: 12px Arial, Helvetica, sans-serif; 
    text-decoration:none;
    line-height: 22px;
    border-bottom:1px dotted #aaa;
    padding-bottom:10px;
    padding-top:10px;
    padding-left:30px;
    background: url('images/twitter.png') no-repeat left 10px;
}

#twitter  a {
    text-decoration:none;
    color:#0099cc;
}

/*twitter usado nas paginas internas de noticias */
#twitter-noticias { border:2px solid #14ADFF; width:600px; background:#fff url('../img/bg-twitter.jpg') repeat-x top; margin:0px 0 0 0px; float:left; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }

#twitter-2 { width:600px; float:left; margin-left:00px; margin-top:0px; }
#twitter-2  p, ul, input, button {
    font-family: 'Arial';
}
#twitter-2  p {
    margin: 0 0 1.3em 0;
    font-size: 0.7em;
    line-height: 1.5em;
}






#fb-like { width:600px; height:150px;  background-color:#fff; no-repeat; 
           margin:15px 0 0 99px; float:left; padding:31px 0 0 35px; border:2px solid #14ADFF; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }

#fb-like-box { width:600px; height:320px;  no-repeat; 
               margin:30px 0 0 0px; float:left; padding:0px 0 0 2px; border:0px solid #14ADFF; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; }

.bg-mapa { width:600px; height:660px; float:left; background-color:#80BDDA; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px; }
.bg-mapa .mapa { width:590px; height:470px; margin:5px; background-color:#fff; -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;}

p.clr, .clr { clear:both; padding:0; margin:0; background:none;}
li.bg, .bg { clear:both; border-top:1px solid #dcdcdc; padding:0; margin:20px 0; background:none; line-height:0;}

.url_clique_aqui {
    font:bold 12px Arial, Helvetica, sans-serif;
    color:#0000CC;
    text-decoration:underline;
    padding:5px 5px;
    margin:0;
}
.TFtable{
    width:100%; 
    border-collapse:collapse; 
}
.TFtable td{ 
    padding:7px;
}
/* provide some minimal visual accomodation for IE8 and below */
.TFtable tr{
    background: #b8d1f3;
}
/*  Define the background color for all the ODD background rows  */
.TFtable tr:nth-child(odd){ 
    background: #C0C0C0;
}
/*  Define the background color for all the EVEN background rows  */
.TFtable tr:nth-child(even){
    background: #DCDCDC;
}